footer{
    background-color: var(--footer-bg);
    padding: 2rem 1rem;
    margin-top: 4rem;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    transition: transform 0.1s ease;
}

footer a:hover {
    font-weight: 600;
    transform: scale(1.05);
}