@import url('https://fonts.googleapis.com/css2?family=Onest:wght@400;500;700&display=swap');

:root {
    --bg-color: #f5f5f5;  
    --text-color: #111; 
    --primary-color: #f0b90b;
    --border: #ddd;
    --footer-bg: #e0e0e0;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Onest', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    color: var(--text-color);
    text-decoration: none;
}


/* Header */

header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.8);
    backdrop-filter: blur(10px);
    z-index: 50;
    border-bottom: 1px solid var(--border);
}

header nav {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
}

header nav a {
    color: var(--text-color);
    padding: 0.5rem;
    font-weight: 500;
}

header nav a {
    color: var(--text-color);
    padding: 0.5rem;
    font-weight: 500;
}

/*Footer*/

footer{
    background-color: var(--footer-bg);
    padding: 2rem 1rem;
    margin-top: 4rem;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a:hover, header a:hover {
    font-weight: 600;
}